<div class="container main-content interests center valign-wrapper " ng-controller="InterestsController">
		<div class="row valign">
			<form class="col s10 offset-s1 m6 offset-m3" id="interests-form">
				<div class="row">
					<div class="no-material input-field col s12">
						 <p>
					      <input type="checkbox" value="Food" id="Food"/>
					      <label for="Food">Food</label>
					    </p>
					</div>
					<div class="no-material input-field col s12">
						 <p>
					      <input type="checkbox" value="Travel" id="Travel"/>
					      <label for="Travel">Travel</label>
					    </p>
					</div>
					<div class="no-material input-field col s12">
						 <p>
					      <input type="checkbox" value="Lifestyle" id="Lifestyle"/>
					      <label for="Lifestyle">Lifestyle</label>
					    </p>
					</div>
					<div class="no-material input-field col s12">
						 <p>
					      <input type="checkbox" value="Accommodation" id="Accommodation"/>
					      <label for="Accommodation">Accommodation</label>
					    </p>
					</div>
					
						<a class="waves-effect waves-dark btn col s12 cust-btn " id="sign-up" ng-click="submit()">SUBMIT</a>
				</div>
			</form>
		</div>
	</div>