<div ng-controller="chatController">
	<ul class="collection">
		<li class="collection-item avatar">
			<img src="images/batman.png" alt="" class="circle">
			<span class="title">John Doe</span><br>
			<span>last chat msg</span>
		<a href="#!" class="secondary-content">12:00</a>
		</li>
		<li class="collection-item avatar">
			<img src="images/batman.png" alt="" class="circle">
			<span class="title">John Doe</span><br>
			<span>last chat msg</span>
		<a href="#!" class="secondary-content">12:00</a>
		</li>
		<li class="collection-item avatar">
			<img src="images/batman.png" alt="" class="circle">
			<span class="title">John Doe</span><br>
			<span>last chat msg</span>
		<a href="#!" class="secondary-content">12:00</a>
		</li>	
	</ul>
</div>