<div class="chat-screen row" ng-controller="MessageController">
	<div class="col s12">
		<div class="message-wrapper me">
			<div class="circle-wrapper animated bounceIn"></div>
			<div class="text-wrapper animated fadeIn">
				<p class="name" ng-model="user.name">parthosa</p>
				<h3 class="message-text" ng-model="user.message.text">Hello there!</h3>
				<p class="time" ng-model="user.message.time">15:30pm</p>
			</div>
		</div>
		<div class="message-wrapper them">
			<div class="circle-wrapper animated bounceIn"></div>
			<div class="text-wrapper animated fadeIn">
				<p class="name" ng-model="user.name">parthosa</p>
				<h3 class="message-text" ng-model="user.message.text">Hello there!</h3>
				<p class="time" ng-model="user.message.time">15:30pm</p>
			</div>
		</div>

	</div>
</div>