<div class="full-width group_info row" ng-controller='GroupInfoController'>
		<div class="profile-pic-wrap col s12 l6 offset-l3">
			<!-- <div class="back_icon">
			<i class="material-icons">arrow_back</i>
		</div> -->
		</div>
		<div  class="group_people_list">
			<ul class="collection">
				<li class="collection-item avatar">
					<img src="images/batman.png" alt="" class="circle">
					<span class="title">John Doe</span><br>
					<span>last distance</span>
				
				</li>
				<li class="collection-item avatar">
					<img src="images/batman.png" alt="" class="circle">
					<span class="title">John Doe</span><br>
					<span>last distance</span>
				
				</li>
				<li class="collection-item avatar">
					<img src="images/batman.png" alt="" class="circle">
					<span class="title">John Doe</span><br>
					<span>last distance</span>
				
				</li>	
				</li>
				<li class="collection-item avatar">
					<img src="images/batman.png" alt="" class="circle">
					<span class="title">John Doe</span><br>
					<span>last distance</span>
				
				</li>	
				<li class="collection-item avatar">
					<img src="images/batman.png" alt="" class="circle">
					<span class="title">John Doe</span><br>
					<span>last distance</span>
				
				</li>	
				<li class="collection-item avatar">
					<img src="images/batman.png" alt="" class="circle">
					<span class="title">John Doe</span><br>
					<span>last distance</span>
				
				</li>	
				<li class="collection-item avatar">
					<img src="images/batman.png" alt="" class="circle">
					<span class="title">John Doe</span><br>
					<span>last distance</span>
				
				</li>	

			</ul>
		</div>
</div>