<div class="row">
	<h4 class="center">Interest Groups</h4>
	<div class="col s6">
		<div class="card">
			<div class="card-content center-align">
				<span class="card-title">Batman</span>
				<p>
				<img class="responsive-img" src="images/batman.png">
				</p>
				<p>7 Members</p>
			</div>
		</div>
	</div>
	<div class="col s6">
		<div class="card">
			<div class="card-content center-align">
				<span class="card-title">Batman</span>
				<p>
				<img class="responsive-img" src="images/batman.png">
				</p>
				<p>7 Members</p>
			</div>
		</div>
	</div>
	<div class="col s6">
		<div class="card">
			<div class="card-content center-align">
				<span class="card-title">Batman</span>
				<p>
				<img class="responsive-img" src="images/batman.png">
				</p>
				<p>7 Members</p>
			</div>
		</div>
	</div>
</div>