<div class="navbar-fixed group-nav">
	<nav class="nav-extended">
		<div class="nav-wrapper">

			<a class="brand-logo">Latch</a>
			<a href="" data-activates="sideNavbar" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul id="nav-mobile" class="right">
				<li><a ui-sref="app.sample"><i class="material-icons">search</i></a></li>
				<li><a ui-sref="app.sample"><i class="material-icons">notifications</i></a></li>
			</ul>
			<ul class="side-nav" id="sideNavbar">
				<li>
					<div class="userView">
						<div class="background side-nav-bg right-align">
							<img class="responsive-img " src="">
						</div>
						<a href="#!user"><img class="circle" src="images/batman.png"></a>
						<a href="#!name"><span class="white-text name">Guest</span></a>
						<a href="#!email"><span class="white-text email"></span></a>
					</div>
				</li>
				<li><a ui-sref='app'>Logout</a></li>
				<li><a ui-sref='app.profile'>Profile</a></li>
			</ul>
			<ul class="tabs tabs-transparent">
				<li class="tab"><a ng-class="{active: isActive('location')}" ui-sref="app.location">Location</a></li>
				<li class="tab"><a ng-class="{active: isActive('chats')}" ui-sref="app.chats">Chats</a></li>
				<li class="tab"><a ng-class="{active: isActive('groups')}" ui-sref="app.groups">Groups</a></li>
			</ul>
		</div>
	</nav>
</div>

<script>
		$(".button-collapse").sideNav();
</script>