<div class="container main-content center valign-wrapper ">
		<div class="row valign">
			<form class="col s10 offset-s1 m6 offset-m3" >
				<div class="row">
					<div class="input-field col s12">
						<input placeholder="Name" type="text" class="validate">
					</div>
					<div class="input-field col s12">
						<input placeholder="Email" type="email" class="validate">
					</div>
					<div class="input-field col s12">
						<input placeholder="Password" type="email" class="validate">
					</div>
					<div class="input-field col s12">
						<input placeholder="Confirm Password" type="email" class="validate">
					</div>
					
						<a class="waves-effect waves-dark btn col s12 cust-btn " id="sign-up">SIGN UP</a>
				</div>
			</form>
		</div>
	</div>