<div ng-controller="ChatController">
	<ul class="collection">

	 <li class="collection-item avatar" ng-click='chatBot()'>
			<img ng-src="images/johndoe.png" alt="" class="circle">
			<p class="title">Harlie</p>
			<p class="chat-message">O ft</p>
		<!-- <a href="#!" class="secondary-content">{{chat.time}}</a> -->
		</li>

      <li class="collection-item avatar" ng-repeat="chat in chats | filter:search.query" ng-click='redirect(this)'>
			<img ng-src="{{ chat.pic}}" alt="" class="circle">
			<p class="title">{{chat.nick}}</p>
			<p class="chat-message">{{chat.distance}}</p>
		<!-- <a href="#!" class="secondary-content">{{chat.time}}</a> -->
		</li>
	
	</ul>
</div>